<%- include('partials/header.ejs'); %>
 
<iframe src="/import_data" style="position: absolute;width:0;height:0;border:0;"></iframe>

<div id="container-sm border">
    <main>
        <section class="grid" id="websiteInfo">
            <div class="contentWrap">
                <h2 class="contentTitle text-center">Now playing movies details and Trailers</h2>
                <p class="text-center">
                    My website displays all the latest information and trailers regarding now playing movies available in cinemas. It fetches all the data from theMovieDB website.
                </p>
            </div>
        </section>
  <section id="sectionnowPlaying">
   
    <div class="grid-container" id="nowPlaying">
        <% data.movies.forEach(item=> { %>
            <div id="card" class="grid-item" style="width: 24rem;">
                <div id="card-img-top">
                    <a onclick='movieSelected("<%=item.id %>")' href="#"><img class="poster-image" src="http://image.tmdb.org/t/p/w400/<%=item.posterPath %>"></a>
                 </div>
                <div class="card-body">
                    <div class="card-title">
                        <a onclick='movieSelected("<%=item.id %>")' href="#"><h2><%=item.title %></h2></a>
                    </div>
                    <p class="card-text"><span class="max-lines"><%=item.overview %></span>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><strong>Release Date:</strong> <%=item.releaseDate %></li>
                   
                    <li class="list-group-item"><strong>Rating:</strong>  <%=item.voteAverage %> / 10 <span id="smallText">(<%=item.voteCount %>  votes)</span></li>
                </ul>
                       
            </div>
        <% }) %>
       </div>
       
  </section>
</main>
    
</div>
<script src="js/movie.js"></script>
<%- include('partials/footer.ejs'); %>