<%- include('partials/header.ejs'); %>
<%- include('partials/slider.ejs'); %>
<%- include('partials/search.ejs'); %>
 
<iframe src="/import_data" style="position: absolute;width:0;height:0;border:0;"></iframe>

    <section id="latest-movies" class="portfolio">
        <div class="container">
  
          <div class="section-title">
            <h2>Movies</h2>
            <p>Latest Movies</p>
          </div>
  
          <div class="row">
            <div class="col-lg-12 d-flex justify-content-center">
              <ul id="portfolio-flters">
                <li data-filter="*" class="filter-active">Latest</li>
                <li data-filter=".filter-upcoming">Upcoming</li>
               
              </ul>
            </div>
          </div>
  
          <div class="row portfolio-container">
            <% data.movies.forEach(item=> { %>
            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
              <div class="portfolio-wrap">
                <img src="http://image.tmdb.org/t/p/w400/<%=item.posterPath %>" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4><%=item.title %></h4>
                  <p class="max-lines"><%=item.overview %></p>
                  <div class="portfolio-links">
                    <a href="http://image.tmdb.org/t/p/w400/<%=item.posterPath %>" data-gall="portfolioGallery" class="venobox" title="App 1"><i class="bx bx-plus"></i></a>
                    <a onclick='movieSelected("<%=item.id %>")' href="#" data-gall="portfolioDetailsGallery" data-vbtype="iframe" class="venobox" title="Portfolio Details"><i class="bx bx-link"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <% }) %>
            
           
  
        
  
          </div>
  
        </div>
      </section><!-- End Portfolio Section -->

      
<script src="js/movie.js"></script>
<%- include('partials/footer.ejs'); %>