<%- include('partials/header.ejs'); %>
<section id="latest-movies" class="portfolio">
    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">
  
          <div class="d-flex justify-content-between align-items-center">
            <h2>Top Rated</h2>
            <ol>
              <li><a href="/">Home</a></li>
              <li>Top Rated Movies</li>
            </ol>
          </div>
  
        </div>
      </section><!-- End Breadcrumbs -->
      <div class="container">
  
        <div class="section-title">
          <h2>Movies</h2>    
        </div>
        <div class="row portfolio-container">
         
          <% data.movies.forEach(item=> { %>
            <% if(item.movieType =="topRate"){%>
          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="http://image.tmdb.org/t/p/w400/<%=item.posterPath %>" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4><%=item.title %></h4>
                <p class="max-lines"><%=item.overview %></p>
                <div class="portfolio-links">
                  <a href="http://image.tmdb.org/t/p/w400/<%=item.posterPath %>" data-gall="portfolioGallery" class="venobox" title="App 1"><i class="bx bx-plus"></i></a>
                  <a onclick='movieSelected("<%=item.id %>")' href="#" data-gall="portfolioDetailsGallery" data-vbtype="iframe" class="venobox" title="Portfolio Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>
          <% }}) %>
        </div>

      </div>
    </section><!-- End Portfolio Section -->


<script src="js/movie.js"></script>
<%- include('partials/footer.ejs'); %>